/* common shared styles */

body{
  font-family: Merriweather;
  margin: 30px 80px 0;
}

.header{
  background-image: url('../images/Banner\ Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh; 
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
}

header::after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#070211+0,070211+100&1+0,0.4+34 */
background: linear-gradient(to bottom,  rgba(7,2,17,1) 0%,rgba(7,2,17,0.4) 34%,rgba(7,2,17,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  z-index: -1;

}

.banner{
  width: 60%;
  text-align: center;
  margin: 120px 0;
}
.banner h3{
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
   
}

.banner h1{
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  margin-top: 40px ;
  }

  /* off section start */

  .off-section{
    text-align: center;
    
  }

  .off-container{
    margin-top: 50px ;
  }

  .off-container h2{
    color: #F00;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;

  }

.off-container h4{
  color: #F00;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin: 20px 0 5px;

}

.off-container h3{
  color: #070211;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}

  .off-container-img{
    height: 300px;
  }